@charset "UTF-8";





:root{
   --cor0: #FF2CDC;
   --cor01: #c528e86b;
   --cor02:#a639ffcb;
   --cor03:#5b28e8fd;
   --cor04:#2C2CFF;
   --cor05: #5b28e821;

   
   
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:white;
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));
    
}

header{
    
    min-height: 75px;
    text-align: center;
    padding-top: 40px;
    margin: auto;
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));

    

    
}
header  h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: normal;
    
    

}
img{
    width: 120px;
    
    
}
nav > a:hover{
    background-color: var(--cor01);
}

nav{   
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    
   background-image: linear-gradient(to right, var(--cor01), var(--cor02));

}

nav > a{
   
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.5s;

}
   
main{
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > h1.nome{
color:white;
font-size: 45px;
text-align: start;
padding-bottom: 14px;
}
main > article > div{
    background-color: var(--cor05);
    text-align: justify;
    border-radius: 6px;
    padding: 10px;
    
    margin: auto;
}
main > article > div > h1{
color: white;
text-align: start;
margin-left: 30px;
font-weight: bold;
}
 
main > article > div > p{
    color: white;
    text-align: justify;
    
}

footer a.ney:hover{
    color: var(--cor02);
}
footer a.alex:hover{
    color: var(--cor03);
}
footer{
color: white;

}

footer a{
    color: white;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2.comando{
 color: white;
}

ul{
    color: white;
}

