@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --cor0: #FF2CDC;
    --cor01: #c528e86b;
    --cor02:#a639ffcb;
    --cor03:#5C28E8;
    --cor04:#2C2CFF;

    --fonte:'Shadow Into Light'
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));
}

header{
    background-color: var(--cor);
    min-height: 75px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to right, var(--cor01), var(--cor02));
    
}
header  h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: normal;
    font-family:  Shadows Into Light;

}
nav > a:hover{
    background-color: var(--cor01);
}

nav{   
    
    padding: 10px;
    margin-bottom: 20px;
   background-image: linear-gradient(to right, var(--cor01), var(--cor02));

}

nav > a{
   
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
   
main{
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > h1.att101{
color:white;
font-size: 30px;
text-align: start;
padding-bottom: 14px;
font-size: 40px;
}

main > article > h1{
color: white;
text-align: start;
margin-left: 30px;
}
 
main > article > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

main > article > h1.att103{
padding-top: 10px;
}


main > article > h1.att104{
    padding-top: 10px;
}